doctype html
html(lang="en")

    head.
        <meta charset="utf-8">

        <title>Hacking STEM for Internet of EveryThing - Curricolo Digitale</title>

        <meta name="description" content="Un curricolo digitale STEM su robotica, digital manufacturing, sistemi embedded, sistemi IoT e IoE Open Source">
        <meta name="author" content="Luca Ferroni">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" id="theme">

        <link rel="stylesheet" href="lib/css/zenburn.css">
        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="css/from-mte.css" id="theme">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->

    body

        .barra
            .titolo Hacking STEM for IoE, Fabriano 10 novembre 2016
            //.logo.logo-sbw

        .barra.bottom
            .titolo Istituto di Istruzione Superiore Merloni Miliani - Fabriano (AN)
            .hashtag #hackingstemforioe
        .reveal

            // Any section element inside of this container is displayed as a slide
            .slides

                include myslides.jade

        | <script src="lib/js/head.min.js"></script>
        | <script src="js/reveal.js"></script>

        script.

            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true },
                    { src: 'plugin/notes/notes.js', async: true }
                ]
            });

            var d = (new Date);
            var now = Date.now();
            d.setHours(11);
            d.setMinutes(0);
            d.setSeconds(0);
            d.setDate(30);
            var i = 0;
            function updateTimer() {
                document.getElementById('datenow').innerHTML = (new Date).toString().substr(0,33);
                document.getElementById('countdown').innerHTML = parseInt((d.getTime()-Date.now())/100);
            };

            Reveal.addEventListener( 'ready', function( event ) {
                //document.getElementById('dateend').innerHTML = d.toString().substr(0,33);
                //setInterval(updateTimer, 300);
            });

    body
html

