section(data-background-video="video/PlexusTest.mp4")

    div.background-opaque.back-grey
        h1 Hacking STEM for 
        h2 Internet of EveryThing
        p
            i.black I.I.S. Merloni Miliani, Fabriano (AN)
            br 
            i.black Istituto Comprensivo Fabriano Ovest, Fabriano (AN)
            br 
            i.black I.T.C.G. Antinori Camerino e Matelica (MC)

section(data-background="imgs/arrow-1294471.svg")

    div.background-opaque.back-greenarrow
        h1 Un curricolo verticale

        p &nbsp;
        h3.fragment Infanzia e Primaria &larr; GIOCO
        h3.fragment Secondaria I grado &larr; AVVENTURA
        h3.fragment Secondaria II grado &larr; SERVIZI

        p ... su un modello consolidato

section(data-background="imgs/cd-comunita-di-pratica.svg").fullcover

    h1(style="margin-top: 60px") la comunità di pratica

section(data-background="imgs/ldmap.jpg").fullcover

    div.background-opaque.back-grey
        h1 una comunità replicabile

section(data-background="imgs/gioco.png")

    div.background-opaque.back-grey
        h1 si parte con 
        h2 making lowtech, gioco con coding/copying e devices, condivisione

section(data-background="imgs/avventura.png")

    div.background-opaque.back-grey
        h1 attraversa 
        h2 la creatività individuale e il digital manufacturing

section(data-background="imgs/servizi.png")

    div.background-opaque.back-grey
        h1 approda
        h2 all'interconnessione, acquisizione e pubblicazione dei dati

section(data-background="imgs/coding-bigdata.png")

    div.background-opaque.back-grey
        h1 alimentato e supportato da
        h3 "coding" per la parte creativa
        h3 "bigdata" nella fase conclusiva

section

    h2 Certificazione delle competenze
    p LQF - Level Qualification Framework
    table
        tr
            th Ordine
        tr
            td Infanzia, Primaria, Secondaria I grado, Secondaria II grado
    p
    table
        tr
            th Indicatore
            th Livelli
        tr
            td(style="vertical-align:middle !important;") il giovane ha raggiunto un grado di autonomia sugli obiettivi progettuali
            td
                ul 
                    li 
                        b Sufficiente
                    li
                        b Buono
                    li
                        b Ottimo
section

    h1 affrontando
    h2 la libertà intellettuale
    h2 ai tempi dell' IoE

    ul
        li libertà di copiare per replicare
        li libertà di hackerare
        li libertà di creare
        li libertà di acquisire
        li libertà di pubblicare
        li libertà di liberare

section

    h1 Elementi per le Unità di Apprendimento

section

    h2 Il GIOCO
    p infanzia e primaria
    ul.small
        li ABILITÀ: immaginare, saper copiare, applicare, realizzare, condividere, manipolare
        li CONOSCENZE: hardware e software, conduttività e materiali, attrezzi da lavoro
        li METODI: attività laboratoriali ludiche da soli o in gruppo, workshop
        li STRUMENTI: tinkering, making, peer help, fiere tipo MakerFaire, ambiente di apprendimento, scratch, snap, makey makey, arduino
        li VALUTAZIONE: grado di soddisfacimento, saper raccontare l'esperienza

section

    h2 L'AVVENTURA
    p secondaria I grado
    ul.small
        li ABILITÀ: saper copiare, attuare piccole modifiche, descrivere, uso base di embedded devices e sensori, embedded devices, assemblare e programmare robot
        li CONOSCENZE: hardware e software per il digital manufacturing, elementi di robotica, sensori/attuatori, tipi di licenze per i software e per i dati
        li METODI: lezione partecipata, giochi di gruppo, makercamp, attività al makerspace, progettazione guidata
        li STRUMENTI: peer tutoring, robot educativi, devices che interagiscono con digital manufacturing, arduino, raspberry

        li VALUTAZIONE: capacità di raccontare l'esperienza, realizzazioni manufatti

section

    h2 I SERVIZI
    p secondaria II grado - base
    ul.small
        li ABILITÀ: problem solving e rapid prototyping con i devices, progettare in gruppo, assemblare e programmare robot per applicazioni, esercitare la propria libertà intellettuale
        li CONOSCENZE: sistemi, sensori e caratteristiche degli attuatori, linguaggi di programmazione, reti, robotica applicata, licenze per i software e per i dati
        li METODI: teoria, progetti da soli o in gruppo ispirati da casi aziendali
        li STRUMENTI: progettazione e programmazione su device e strumenti per il digital manufacturing, workshop con aziende.
        li VALUTAZIONE: realizzazioni effettuate, interrogazioni, saper documentare e raccontare le attività, efficacia nel lavoro in gruppo

section

    h2 I SERVIZI
    p secondarie II grado - avanzato
    ul.small
        li ABILITÀ: saper connettere in rete devices, esaminare e implementare server e servizi, sensori e attuatori da remoto, sistemi di datalogging e sistemi operativi realtime, tutoraggio
        li CONOSCENZE: protocolli IoT (es: MQTT) e HTTP, programmazione di rete, sistemi di acquisizione e problematiche realtime, storage dei dati, cenni di configuration automation
        li METODI: lezione partecipata, casi reali in azienda o nel territorio, realizzazione applicativi in team e in collaborazione con aziende
        li STRUMENTI: progetti aziendali e per la città (es: totem multimediale, distribuzione di OS, stazioni meteorologiche) come piattaforma IoT, workshop con aziende.
        li VALUTAZIONE: realizzazioni effettuate, interrogazioni, saper raccontare cosa fatto, efficacia dei servizi realizzati

section

    h2 condivisione e fruizione
    h3 base &rarr; Google+, Github, Moodle, Etherpad
    h3 avanzata &rarr; piattaforma open per tutti i curricoli
    div
        span
            img(data-src="https://lascatoladipandora.files.wordpress.com/2010/10/elgg-com-logo_lrg.png",height="80")
        span
            img(data-src="https://pbs.twimg.com/profile_images/1689569960/Alfresco_Flower_Smaller.jpg",height="80")
        span
            img(data-src="http://4.bp.blogspot.com/_brbdTuTRyxs/TNhBDuHUBFI/AAAAAAAAAAQ/JCqJ04r8hZM/s1600/moodle_powered.png",height="80")
        span
            img(data-src="http://www.arckinteractive.com/wp-content/uploads/2014/06/solr_logo_rgb.png",height="80")
        span
            img(data-src="http://siliconangle.com/files/2013/05/git-logo.jpg",height="80")

section

    h1 Partner
    ul
        li Il Comune di Fabriano con la Biblioteca Multimediale e il MakerSpace
        li Il PDP FSUG e la community di attivisti digitali
        li Aziende digitali e manufatturiere
        li Fondazioni territoriali per sostenere lo sviluppo
        li Università per nuove frontiere e orientamento

section

    div.background-opaque.back-lightgreen
        p
            i &quot;If your only tool is a hammer, 
            br 
            i then every problem looks like a nail.&quot; (A. Maslow)
        h1 Hacking STEM for 
        h2 Internet of EveryThing
        p
            i.black I.I.S. Merloni Miliani, Fabriano (AN)
            br 
            i.black Istituto Comprensivo Fabriano Ovest, Fabriano (AN)
            br 
            i.black I.T.C.G. Antinori Camerino e Matelica (MC)

        a.small(href="mailto:anis01800e@pec.istruzione.it") anis01800e@pec.istruzione.it
        br 
        span.small ref: 
            a(href="https://feroda.github.io/revealjs-hacking-stem-for-IoE/") https://feroda.github.io/revealjs-hacking-stem-for-IoE/

