//section //(data-background-video="video/PlexusTest.mp4")

section(data-background="imgs/HACKREATivity_COPERTINA-EVENTO-FACEBOOK.jpg")

    div.background-opaque
        h2#datenow
        span &nbsp;
        h1#countdown 
        span &nbsp;
        h2#dateend

    //img(data-src="./imgs/HACKREATivity_COPERTINA-EVENTO-FACEBOOK.jpg")

